.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: $l-size;

	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
		margin-bottom: $m-size;
	}
}

.input-group__item {
	margin: 0 $s-size 0 0;

	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
		margin-right: $m-size;
		flex-grow: 1;
	}
}
